<div class="container mt-4" *ngIf="apartment">
  <!-- Sezione Titolo e Preferiti -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">{{ apartment.name }}</h2>
    <ng-icon
      [name]="isFavorite ? 'ionHeart' : 'ionHeartOutline'"
      (click)="toggleFavorite()"
      (click)="addRemoveFavourite()"
      [class.filled]="isFavorite"
      [class.empty]="!isFavorite"
      class="favorite-icon"
    ></ng-icon>
  </div>

  <!-- Sezione Immagini -->
  <div class="row">
    <!-- Immagine principale -->
    <div class="col-7">
      <img
        src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
        alt="Main Image"
        class="img-fluid rounded mb-2"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>

    <!-- Colonna destra con immagini impilate -->
    <div class="col-5 position-relative">
      <div class="d-flex flex-column h-100">
        <div class="d-flex mb-2" style="height: 49%">
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 1"
            class="img-fluid rounded me-1"
            style="width: 49%; object-fit: cover"
          />
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 2"
            class="img-fluid rounded"
            style="width: 49%; object-fit: cover"
          />
        </div>
        <div class="d-flex position-relative" style="height: 49%">
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 3"
            class="img-fluid rounded me-1"
            style="width: 49%; object-fit: cover"
          />
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 4"
            class="img-fluid rounded"
            style="width: 49%; object-fit: cover"
          />
          <!-- Pulsante "Mostra tutte le foto" in basso a destra -->
          <button
            class="btn custom-button position-absolute"
            style="bottom: 10px; right: 10px"
          >
            Mostra tutte le foto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container1 d-flex justify-content-between">
    <div class="row mt-4">
      <!-- Sezione Recensioni e Host -->
      <div class="col">
        <p class="text-muted mb-0 fs-4">
          <strong>Torano nuovo, Italia. Cupola</strong>
        </p>
        <p>{{ apartment.description }}</p>
        <p>
          {{ apartment.rooms > 1 ? apartment.rooms + " stanze" : "1 stanza" }} ·
          {{ apartment.squaremeters }}m²
        </p>
        <!-- <p>4 ospiti · 1 camera da letto · 3 letti · 1 bagno</p> -->

        <!-- Sezione "Amato dagli ospiti" -->

        <ng-container *ngIf="rating">
          <div class="card p-3 mb-3">
            <div
              class="d-flex justify-content-between align-items-center p-2 gap-2"
            >
              <div>
                <span *ngIf="rating > 3" class="badge bg-success me-2"
                  >Amato dagli ospiti</span
                >
              </div>
              <p class="mb-0 fs-6">
                Uno degli alloggi più amati dagli ospiti di Airbnb
              </p>
              <div class="">
                <h4 class="mb-0 fs-6 text-center">{{ rating }}</h4>
              </div>
              <div><span>|</span></div>
              <div><small class="text-muted fs-6">33 recensioni</small></div>
            </div>
          </div>
        </ng-container>

        <div class="d-flex align-items-center mb-2">
          <img
            src="https://cdn3.iconfinder.com/data/icons/avatar-and-people-4/510/Avatar_Woman_C-21-512.png"
            alt="Immagine dell'host"
            style="width: 30px; height: 30px"
            class="me-2 align-self-center"
          />
          <div *ngIf="host">
            <p class="mb-0">
              <strong
                >Nome dell'host:
                <a
                  class="text-decoration-none text-black"
                  [routerLink]="['/host', host.id]"
                  >{{ host.firstName }} {{ host.lastName }}</a
                ></strong
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- App Reservation -->
    <div class="col-4">
      <app-reservation [apartment]="apartment"></app-reservation>
    </div>
  </div>

  <hr class="custom-hr" />

  <!-- Sezione Dove dormirai -->
  <div class="row mt-3">
    <div class="col-8">
      <h4>Dove dormirai</h4>
      <div class="card p-3" style="max-width: 200px; display: inline-block">
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <h5>Camera da letto</h5>
        <p>1 letto matrimoniale, 2 letti singoli</p>
      </div>
    </div>
  </div>

  <hr class="custom-hr" />

  <!-- Servizi Offerti -->
  <div class="row mt-3">
    <div class="col-8">
      <h4>Cosa troverai</h4>
      <div class="row">
        <div class="col-6">
          <ul class="list-unstyled" *ngIf="apartment.services">
            <li class="d-flex align-items-center mb-2">
              <ng-icon
                name="ionWifiOutline"
                style="font-size: 20px; margin-right: 5px"
              ></ng-icon>
              Wi-Fi gratuito
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-map [placeMap]="apartment.location"></app-map>
</div>
