<div class="container mt-4" *ngIf="apartment">
  <!-- Sezione Titolo e Preferiti -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-dark mb-0 fw-bold">{{ apartment.name }}</h2>
    <ng-icon
      [name]="isFavorite ? 'ionHeart' : 'ionHeartOutline'"
      (click)="toggleFavorite()"
      (click)="addRemoveFavourite()"
      [class.filled]="isFavorite"
      [class.empty]="!isFavorite"
      class="favorite-icon"
    ></ng-icon>
  </div>

  <!-- Sezione Immagini -->
  <div class="row mb-4 mx-2 rounded-4 overflow-hidden">
    <!-- Immagine principale -->
    <div class="col-7 p-0 pe-2">
      <div class="coverImg overflow-hidden d-flex">
        <img
          src="{{ coverimg }}"
          alt="Image 1"
          class="object-fit-cover w-100"
        />
      </div>
    </div>

    <!-- Colonna destra con immagini impilate -->
    <div class="col-5 p-0 position-relative">
      <div class="d-flex flex-column h-100">
        <div class="d-flex flex-wrap gap-2 coverImg">
          <div class="img4 flex-grow-1 d-flex" *ngFor="let img of img4">
            <img src="{{ img }}" alt="Image 1" class="object-fit-cover w-100" />
          </div>
          <!-- Pulsante "Mostra tutte le foto" in basso a destra -->
          <button
            class="btn custom-button position-absolute"
            style="bottom: 10px; right: 10px"
          >
            Mostra tutte le foto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row g-5">
      <!-- Sezione Recensioni e Host -->
      <div class="col-8">
        <h3 class="text-dark mb-0 fw-bold">{{ apartment.location }}</h3>
        <p class="fs-5 mb-1">{{ apartment.description }}</p>
        <p class="fs-6 m-0">
          {{ apartment.rooms > 1 ? apartment.rooms + " stanze" : "1 stanza" }} ·
          {{ apartment.squaremeters }}m²
        </p>
        <!-- <p>4 ospiti · 1 camera da letto · 3 letti · 1 bagno</p> -->

        <!-- Sezione "Amato dagli ospiti" -->

        <ng-container *ngIf="rating > 3">
          <div class="card p-2 my-3 rounded-3-4">
            <div
              class="d-flex justify-content-between align-items-center p-1 gap-2"
            >
              <div>
                <img src="amato.png" height="55" class="px-2" />
              </div>
              <p class="mb-0 fs-6 fw-bolder d-none d-lg-block">
                Uno degli alloggi più amati <br />
                dagli ospiti di Airbnb
              </p>
              <div class="px-4 p-2">
                <h5 class="mb-0 text-center fw-bolder">{{ rating }}.0</h5>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
              </div>
              <div
                *ngIf="host"
                class="border-start border-2 px-4 p-2 d-flex flex-column align-items-center"
              >
                <h5 class="m-0 fw-bolder">33</h5>
                <a
                  [routerLink]="['/host', host.id]"
                  class="text-dark fs-6 fw-bolder"
                  >recensioni</a
                >
              </div>
            </div>
          </div>
        </ng-container>

        <div class="d-flex align-items-center mb-2 border-bottom py-4 gap-2">
          <div class="rounded-pill overflow-hidden">
            <a [routerLink]="['/host', host.id]" *ngIf="host">
              <ng-container *ngIf="host.profileImg">
                <img
                  src="{{ host.profileImg }}"
                  alt="Immagine dell'host"
                  height="50"
                  width="50"
                  class="object-fit-cover"
                />
              </ng-container>
            </a>
          </div>
          <div *ngIf="host">
            <a
              class="link-underline link-underline-opacity-0"
              [routerLink]="['/host', host.id]"
            >
              <p class="mb-0 d-flex flex-column text-dark">
                <strong>
                  Nome dell'host: {{ host.firstName }} {{ host.lastName }}
                </strong>
                <span>Super host • 5 anni di esperienza come host</span>
              </p>
            </a>
          </div>
        </div>

        <!-- Sezione Dove dormirai -->
        <div class="row mt-3">
          <div class="col-8">
            <h4>Dove dormirai</h4>
            <div class="card p-3 w-fixed-250">
              <h5>Stanze</h5>
              <div>
                <div>
                  <ng-container *ngFor="let i of array">
                    <ng-icon
                      name="ionBedOutline"
                      style="font-size: 20px"
                    ></ng-icon
                  ></ng-container>
                </div>

                <span>{{
                  apartment.rooms >= 5
                    ? "2 camere da letto"
                    : "1 camera da letto"
                }}</span>

                <div>
                  <ng-container *ngIf="apartment.rooms - numOfRoom >= 1">
                    <span>{{
                      apartment.rooms >= 5
                        ? apartment.rooms - 2 + " altre stanze"
                        : apartment.rooms - 1 + " altra stanza"
                    }}</span>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Servizi Offerti -->
        <div class="row mt-3">
          <div class="col">
            <h4>Cosa troverai</h4>

            <!-- Controllo se ci sono servizi da mostrare -->
            <ul
              class="list-unstyled row row-cols-4"
              *ngIf="displayedServices.length > 0"
            >
              <li
                *ngFor="let service of displayedServices"
                class="d-flex align-items-center mb-2"
              >
                <ng-icon
                  [name]="service.icon"
                  style="font-size: 20px; margin-right: 5px"
                ></ng-icon>
                {{ service.service }}
              </li>
            </ul>
            <p *ngIf="displayedServices.length === 0">
              Nessun servizio disponibile
            </p>
          </div>
        </div>
      </div>
      <!-- App Reservation -->
      <div class="col">
        <div>
          <ng-container *ngIf="loggedUserId && apartment.availability"
            ><app-reservation [apartment]="apartment"></app-reservation
          ></ng-container>
          <ng-container *ngIf="loggedUserId && !apartment.availability">
            <h5 class="text-pink-airbnb text-center">
              Appartamento al momento non disponibile
            </h5>
          </ng-container>
          <!-- review -->
          <div class="dropdown mt-2">
            <button
              (click)="showRatings = !showRatings"
              class="btn bg-pink-airbnb-subtle text-white w-100 rounded-4 dropdown-toggle button-host"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Valuta l'esperienza!
            </button>
            <div
              [ngClass]="{ show: showRatings }"
              class="rounded-4 p-2 text-center dropdown-menu w-100 shadow-lg"
            >
              <form [formGroup]="ratingsForm">
                <div class="mt-2">
                  <h5>Come valuti l'esperinza?</h5>
                  <div formGroupName="ratings">
                    <app-ratings-stars
                      formControlName="vote"
                    ></app-ratings-stars>
                  </div>
                </div>

                <div formGroupName="ratingsReview">
                  <app-text-review formControlName="comment"></app-text-review>
                </div>
                <button
                  (click)="sendReview()"
                  class="btn btn-pink-airbnb text-white fw-bold my-2 w-75"
                >
                  Invia
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="custom-hr" />

  <app-map [placeMap]="apartment.location"></app-map>
</div>
