<div class="container mt-4" *ngIf="apartment">
  <!-- Sezione Titolo e Preferiti -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-dark mb-0 fw-bold">{{ apartment.name }}</h2>
    <ng-icon
      [name]="isFavorite ? 'ionHeart' : 'ionHeartOutline'"
      (click)="toggleFavorite()"
      (click)="addRemoveFavourite()"
      [class.filled]="isFavorite"
      [class.empty]="!isFavorite"
      class="favorite-icon"
    ></ng-icon>
  </div>

  <!-- Sezione Immagini -->
  <div class="row">
    <!-- Immagine principale -->
    <div class="col-7 pe-2">
      <img
        src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
        alt="Main Image"
        class="img-fluid rounded-start-4 mb-2"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </div>

    <!-- Colonna destra con immagini impilate -->
    <div class="col-5 ps-0 position-relative">
      <div class="d-flex flex-column h-100">
        <div class="d-flex mb-2" style="height: 49%">
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 1"
            class="img-fluid me-1"
            style="width: 49%; object-fit: cover"
          />
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 2"
            class="img-fluid rounded-end-top"
            style="width: 49%; object-fit: cover"
          />
        </div>
        <div class="d-flex position-relative" style="height: 49%">
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 3"
            class="img-fluid me-1"
            style="width: 49%; object-fit: cover"
          />
          <img
            src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGFwYXJ0bWVudHxlbnwwfHx8fDE2ODgyOTgyMzk&ixlib=rb-4.0.3&q=80&w=600"
            alt="Image 4"
            class="img-fluid rounded-end-bottom"
            style="width: 49%; object-fit: cover"
          />
          <!-- Pulsante "Mostra tutte le foto" in basso a destra -->
          <button
            class="btn custom-button position-absolute"
            style="bottom: 10px; right: 10px"
          >
            Mostra tutte le foto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container1 d-flex justify-content-between">
    <div class="row mt-4">
      <!-- Sezione Recensioni e Host -->
      <div class="col">
        <h3 class="text-dark mb-0 fw-bold">Torano nuovo, Italia. Cupola</h3>
        <p class="fs-5 mb-1">{{ apartment.description }}</p>
        <p class="fs-6 m-0">
          {{ apartment.rooms > 1 ? apartment.rooms + " stanze" : "1 stanza" }} ·
          {{ apartment.squaremeters }}m²
        </p>
        <!-- <p>4 ospiti · 1 camera da letto · 3 letti · 1 bagno</p> -->

        <!-- Sezione "Amato dagli ospiti" -->

        <ng-container *ngIf="rating > 3">
          <div class="card p-2 my-3 rounded-3-4">
            <div
              class="d-flex justify-content-between align-items-center p-1 gap-2"
            >
              <div>
                <img src="amato.png" height="55" class="px-2" />
              </div>
              <p class="mb-0 fs-6 fw-bolder d-none d-lg-block">
                Uno degli alloggi più amati <br />
                dagli ospiti di Airbnb
              </p>
              <div class="px-4 p-2">
                <h5 class="mb-0 text-center fw-bolder">{{ rating }}.0</h5>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
              </div>
              <div
                class="border-start border-2 px-4 p-2 d-flex flex-column align-items-center"
              >
                <h5 class="m-0 fw-bolder">33</h5>
                <a
                  [routerLink]="['/host', host.id]"
                  class="text-dark fs-6 fw-bolder"
                  >recensioni</a
                >
              </div>
            </div>
          </div>
        </ng-container>

        <div class="d-flex align-items-center mb-2 border-bottom py-4">
          <div class="rounded-pill overflow-hidden me-3">
            <a [routerLink]="['/host', host.id]">
              <img
                src="https://a0.muscache.com/im/pictures/user/f654eeec-5aa5-48b6-ae59-7cba6a7d4c7d.jpg?im_w=240"
                alt="Immagine dell'host"
                height="50"
                width="50"
                class="object-fit-cover"
              />
            </a>
          </div>
          <div *ngIf="host">
            <a
              class="link-underline link-underline-opacity-0"
              [routerLink]="['/host', host.id]"
            >
              <p class="mb-0 d-flex flex-column text-dark">
                <strong>
                  Nome dell'host: {{ host.firstName }} {{ host.lastName }}
                </strong>
                <span>Super host • 5 anni di esperienza come host</span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- App Reservation -->
    <div class="col-4 ms-3">
      <ng-container *ngIf="loggedUserId && apartment.availability"
        ><app-reservation [apartment]="apartment"></app-reservation
      ></ng-container>
      <ng-container *ngIf="loggedUserId && !apartment.availability">
        <h5 class="text-pink-airbnb">
          Appartamento al momento non disponibile
        </h5>
      </ng-container>
      <!-- review -->
      <div class="dropdown mt-2">
        <button
          (click)="showRatings = !showRatings"
          class="btn bg-pink-airbnb-subtle text-white w-100 rounded-4 dropdown-toggle button-host"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Valuta l'esperienza!
        </button>
        <div
          [ngClass]="{ show: showRatings }"
          class="border rounded-4 p-2 text-center dropdown-menu w-100 shadow-lg"
        >
          <form [formGroup]="ratingsForm">
            <div class="mt-2">
              <h5>Come valuti l'esperinza?</h5>
              <div formGroupName="ratings">
                <app-ratings-stars formControlName="vote"></app-ratings-stars>
              </div>
            </div>

            <div formGroupName="ratingsReview">
              <app-text-review formControlName="comment"></app-text-review>
            </div>
            <button
              (click)="sendReview()"
              class="btn btn-pink-airbnb text-white fw-bold my-2 w-75"
            >
              Invia
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Sezione Dove dormirai -->
  <div class="row border-bottom py-5">
    <div class="col-8">
      <h3 class="fw-semibold pb-2">Dove dormirai</h3>
      <div class="card p-3" style="max-width: 200px; display: inline-block">
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <ng-icon name="ionBedOutline" style="font-size: 20px"></ng-icon>
        <h5>Camera da letto</h5>
        <p>1 letto matrimoniale, 2 letti singoli</p>
      </div>
    </div>
  </div>

  <!-- Servizi Offerti -->
  <div class="py-5 border-bottom mb-3">
    <h3 class="fw-semibold pb-2">Cosa troverai</h3>
    <div
      class="row row-cols-2 list-unstyled d-flex flex-wrap"
      *ngIf="apartment.services"
    >
      <div class="col d-flex align-items-center mb-2 fs-5">
        <ng-icon
          name="ionWifiOutline"
          style="font-size: 20px; margin-right: 5px"
        ></ng-icon>
        Wi-Fi gratuito
      </div>
      <div class="col d-flex align-items-center mb-2 fs-5">
        <ng-icon
          name="ionTvOutline"
          style="font-size: 20px; margin-right: 5px"
        ></ng-icon>
        TV con Netflix
      </div>
      <div class="col d-flex align-items-center mb-2 fs-5">
        <ng-icon
          name="ionSnowOutline"
          style="font-size: 20px; margin-right: 5px"
        ></ng-icon>
        Aria condizionata
      </div>
      <div class="col d-flex align-items-center mb-2 fs-5">
        <ng-icon
          name="ionCafeOutline"
          style="font-size: 20px; margin-right: 5px"
        ></ng-icon>
        Macchina da caffè
      </div>
    </div>
  </div>

  <app-map [placeMap]="apartment.location"></app-map>
</div>
