<footer class="container-fluid padding-lg">
  <div class="border-top py-3 px-0 d-flex justify-content-between">
    <!-- lista 1 -->
    <div>
      <ul class="p-0 px-0 d-flex">
        <li class="ms-4 fs-7">&copy;2024 Airbnb,Inc</li>
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Privacy</a
          >
        </li>
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Termini</a
          >
        </li>
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Mappa del sito</a
          >
        </li>
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Dettagli dell'azienda</a
          >
        </li>
      </ul>
    </div>
    <!-- lista 2 -->
    <div>
      <ul class="p-0 px-0 d-flex ulWithOutDot">
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Italiano(IT)</a
          >
        </li>
        <li class="ms-4 fs-7">
          <a
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >€ EUR</a
          >
        </li>
        <li class="ms-4 fs-7">
          <a
            href="https://www.facebook.com/AirbnbItalia"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-1"
            ><ng-icon name="ionLogoFacebook" class="fs-4 text-black"></ng-icon
          ></a>
          <a
            href="https://x.com/i/flow/login?redirect_after_login=%2Fairbnb_it"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-1"
            ><ng-icon name="ionLogoTwitter" class="fs-4 text-black"></ng-icon
          ></a>
          <a
            href="https://www.instagram.com/airbnb/"
            class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover mx-1"
            ><ng-icon name="ionLogoInstagram" class="fs-4 text-black"></ng-icon
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
