.pointerNone {
  pointer-events: none;
}

.pointerBefore::before {
  content: "";
  border-radius: 5px;
  height: 14px;
  width: 3px;
  background-color: #e5e5e5;
  z-index: 990;
  position: absolute;
  bottom: -14px;
  transform: translateX(-1.5px);
}

.posStickyNav {
  position: sticky;
  top: 5rem;
}

form {
  input,
  textarea {
    width: 378px;
  }
}

.posSpan {
  position: absolute;
  transform: translatey(48px);
  bottom: 0;
  right: 0;
}

.locationInput {
  max-width: 378px;
  position: relative;
  .list-group {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
}
