<div class="container">
  <div class="row mt-3">
    <!-- colonna step -->
    <div class="col-2">
      <div class="posStickyNav">
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="nameCheck"
              [checked]="form.value.name"
              [ngClass]="{ 'bg-warning': minlength('name') }"
            />
            <label for="nameCheck">Nome</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="descriptionCheck"
              [checked]="form.value.description"
              [ngClass]="{ 'bg-warning': minlength('description') }"
            />
            <label for="descriptionCheck">Descrizione</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2 t"
              type="checkbox"
              id="nameCheck"
              [checked]="form.value.rooms"
            />
            <label for="nameCheck">stanze</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="servicesCheck"
              [checked]="form.value.services"
            />
            <label for="servicesCheck">Servizi</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="descriptionCheck"
              [checked]="form.value.coverImage"
            />
            <label for="descriptionCheck">Cover</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2 t"
              type="checkbox"
              id="otherImagesCheck"
              [checked]="form.value.otherImages"
            />
            <label for="otherImagesCheck">Immagini</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="categoryCheck"
              [checked]="form.value.category"
            />
            <label for="categoryCheck">Categoria</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2"
              type="checkbox"
              id="squaremetersCheck"
              [checked]="form.value.squaremeters"
            />
            <label for="squaremetersCheck">Dimensioni</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone pointerBefore rounded-pill p-2 t"
              type="checkbox"
              id="locationCheck"
              [checked]="form.value.location"
            />
            <label for="locationCheck">Posizione</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="d-flex align-items-center">
            <input
              class="form-check-input mt-0 me-3 pointerNone rounded-pill p-2 t"
              type="checkbox"
              id="priceCheck"
              [checked]="form.value.price"
            />
            <label for="priceCheck">Prezzo</label>
          </div>
        </div>
      </div>
    </div>
    <!-- colonna form -->
    <div class="col ms-4 me-3 pe-0">
      <h2>Dettagli del nuovo annuncio</h2>
      <form [formGroup]="form">
        <div class="form-group ps-4">
          <!-- name -->
          <div
            class="d-flex my-5 gap-5 justify-content-between position-relative"
          >
            <h5>Il nome del tuo appartamento</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. Villa Licata"
              formControlName="name"
            />
            <span
              class="alert alert-warning my-1 p-2 posSpan fs-6"
              role="alert"
              *ngIf="minlength('name')"
            >
              Almeno 4 caratteri
            </span>
          </div>
          <!-- description -->
          <div
            class="d-flex my-5 gap-5 justify-content-between position-relative"
          >
            <h5>Descrizione dell'appartamento</h5>
            <textarea
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. Bellissima villa con..."
              formControlName="description"
            >
            </textarea>
            <span
              class="alert alert-warning my-1 p-2 posSpan fs-6"
              role="alert"
              *ngIf="minlength('description')"
            >
              Almeno 30 caratteri
            </span>
          </div>
          <!-- rooms -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Numero di stanze</h5>
            <input
              type="number"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. 2-3"
              formControlName="rooms"
            />
          </div>
          <!-- services -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Servizi offerti</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. Wi-fi..."
              formControlName="services"
            />
          </div>
          <!-- coverImage -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Cover annunci</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              formControlName="coverImage"
            />
          </div>
          <!-- otherImages -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Immagini dell'appartamento</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              formControlName="otherImages"
            />
          </div>
          <!-- category -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Categoria</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. Lusso..."
              formControlName="category"
            />
          </div>
          <!-- squaremeters -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Metri Quadrati</h5>
            <input
              type="number"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. 120"
              formControlName="squaremeters"
            />
          </div>
          <!-- location -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Posizione dell'appartament</h5>
            <input
              type="text"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. Licata"
              formControlName="location"
            />
          </div>
          <!-- price -->
          <div class="d-flex my-5 gap-5 justify-content-between">
            <h5>Prezzo di vendita per notte</h5>
            <input
              type="number"
              class="form-contrl px-3 py-2 rounded border"
              placeholder="es. 300"
              formControlName="price"
            />
          </div>
          <button
            [disabled]="form.invalid"
            (click)="onSubmit()"
            class="btn btn-pink-airbnb text-white fw-semibold px-3"
          >
            Invia
          </button>
        </div>
      </form>
    </div>
    <div class="col-3 d-none d-xxl-block">
      <div class="posStickyNav">
        <ng-container>
          <app-card [apartment]="form.value"></app-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
