<header class="container-fluid padding-lg border-bottom py-3">
  <div class="d-flex justify-content-between align-items-center">
    <!-- logo -->
    <img
      role="button"
      routerLink="/"
      src="{{ logo }}"
      alt="logo Airbnb"
      height="30"
    />
    <!-- search bar -->
    <form (submit)="search()" class="input-group w-25">
      <input
        type="text"
        class="form-control rounded-start-pill border-end-0 input-button-search"
        placeholder="Bahamas"
        name="searchQuery"
        [(ngModel)]="searchQuery"
      />
      <button
        (click)="search()"
        class="rounded-end-pill bg-white border-start-0 p-0 input-button-search"
        type="button"
      >
        <ng-icon
          name="ionSearchCircleSharp"
          class="fs-1 iconaSearch text-pink-airbnb"
        ></ng-icon>
      </button>
    </form>
    <div class="d-flex align-items-center">
      <div
        routerLink="/profile/messages"
        *ngIf="isLoggedIn"
        role="button"
        class="position-relative ms-auto me-3 d-flex align-items-center p-2 rounded-circle border border-1 border-secondary-subtle shadow-sm"
      >
        <ng-icon name="ionChatboxOutline" class="fs-4"></ng-icon>
        <span
          *ngIf="unreadMsg > 0"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-pink-airbnb"
        >
          {{ unreadMsg }}
          <span class="visually-hidden">unread messages</span>
        </span>
      </div>
      <!-- menu profilo -->
      <div class="flex-shrink-0 dropdown">
        <a
          (click)="show()"
          [ngClass]="{ show: showBol }"
          class="d-block text-decoration-none text-secondary"
        >
          <div
            class="d-flex align-items-center rounded-pill border border-secondary-subtle shadow-sm px-2 py-2"
          >
            <ng-icon name="ionMenuOutline" class="fs-4 text-black"></ng-icon>

            <ng-container *ngIf="!user">
              <img
                src="https://a0.muscache.com/im/Portrait/Avatars/messaging/b3e03835-ade9-4eb7-a0bb-2466ab9a534d.jpg?im_policy=medq_w_text&im_t=G&im_w=240&im_f=airbnb-cereal-medium.ttf&im_c=ffffff"
                height="30"
                class="ms-1 ps-1"
              />
            </ng-container>

            <ng-container *ngIf="user && isLoggedIn">
              <img
                *ngIf="user.profileImg"
                src="{{ user.profileImg }}"
                height="30"
                width="30"
                class="ms-1 rounded-circle object-fit-cover"
              />
              <div
                *ngIf="!user.profileImg"
                class="w-30 h-30 bg-black p-1 rounded-circle ms-1"
              >
                <span class="text-light"
                  >{{ user.firstName.slice(0, 1)
                  }}{{ user.lastName.slice(0, 1) }}</span
                >
              </div>
            </ng-container>
          </div>
        </a>
        <ul
          [ngClass]="{ show: showBol }"
          class="dropdown-menu text-small shadow hoverMenu border-0 rounded-3"
          style="
            position: absolute;
            inset: 0px 0px auto auto;
            margin: 0px;
            transform: translate(0px, 58px);
          "
        >
          <li>
            <a
              (click)="show()"
              routerLink="/profile/personal-info"
              class="dropdown-item text-dark hoverMenu"
              >Profile</a
            >
          </li>
          <li>
            <a
              (click)="show()"
              routerLink="/profile/dashboard"
              class="dropdown-item text-dark hoverMenu"
              >Dashboard</a
            >
          </li>
          <li>
            <a
              (click)="show()"
              routerLink="/profile/favourites"
              class="dropdown-item text-dark hoverMenu"
              >Preferiti</a
            >
          </li>
          <li><hr class="my-2" /></li>
          <li *ngIf="isLoggedIn">
            <button
              (click)="logout()"
              (click)="show()"
              class="dropdown-item text-dark hoverMenu"
            >
              Logout
            </button>
          </li>
          <ng-container *ngIf="!isLoggedIn">
            <li>
              <a
                (click)="show()"
                routerLink="/auth/login"
                class="dropdown-item text-dark hoverMenu"
              >
                Accedi
              </a>
            </li>
            <li>
              <a
                routerLink="/auth/register"
                (click)="show()"
                class="dropdown-item text-dark hoverMenu"
              >
                Registrati!
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</header>
