<div class="container-fluid padding-lg">
  <h1 class="fw-bold mb-5">Informazioni personali</h1>
  <div class="row">
    <div class="col-9">
      <div class="row pb-2 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Nome legale</h6>
          <p>Nome utente</p>
        </div>
        <div class="col-2">
          <a class="text-decoration-underline text-black fw-medium">Modifica</a>
        </div>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
    </div>
    <div class="col-3"><app-sidebar></app-sidebar></div>
  </div>
</div>
