<div class="container-fluid padding-lg">
  <h1 class="fw-bold mb-5">Informazioni personali</h1>
  <div class="row">
    <div class="col-9 pe-5">
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Nome legale</h6>
          <p class="text-secondary mb-0">Nome utente</p>
        </div>
        <div class="col-2 text-end">
          <a class="text-decoration-underline text-black fw-medium">Modifica</a>
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Nome preferito</h6>
          <p class="text-secondary mb-0">Username</p>
        </div>
        <div class="col-2 text-end">
          <a class="text-decoration-underline text-black fw-medium">Aggiungi</a>
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Indirizzo email</h6>
          <p class="text-secondary mb-0">Email</p>
        </div>
        <div class="col-2 text-end">
          <a class="text-decoration-underline text-black fw-medium">Modifica</a>
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Numeri di telefono</h6>
          <p class="text-secondary mb-0">
            Aggiungi un numero in modo che gli ospiti confermati e Airbnb
            possano contattarti.
          </p>
        </div>
        <div class="col-2 text-end">
          <a class="text-decoration-underline text-black fw-medium">Aggiungi</a>
        </div>
      </div>
      <div class="row row-cols-3 py-5">
        <div class="col"><app-review></app-review></div>
      </div>
    </div>

    <div class="col-3 border rounded-3 px-5">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
