<div class="container" *ngIf="user">
  <h1 class="fw-bold mb-5">Informazioni personali</h1>
  <div class="row">
    <div class="col-9 pe-5">
      <div class="row py-3 border-bottom">
        <div class="col">
          <div [ngClass]="user.profileImg ? ' d-flex gap-3' : ''">
            <ng-container *ngIf="user.profileImg; else addProfileImg">
              <img
                class="profileImg"
                [src]="user.profileImg"
                alt="Immagine Profilo"
              />
            </ng-container>

            <ng-template #addProfileImg>
              <p class="text-secondary">
                Nessuna immagine profilo disponibile. Aggiungine una!
              </p>
            </ng-template>

            <div class="d-flex gap-1 align-items-center" *ngIf="toggleImg">
              <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event)"
                accept="image/png, image/jpeg"
              />
              <button
                (click)="onUpload()"
                class="btn btn-pink-airbnb btn-sm text-light fw-medium mt-2"
                type="button"
                [disabled]="!selectedImg"
              >
                {{
                  user.profileImg
                    ? "Modifica Immagine Profilo"
                    : "Aggiungi Immagine Profilo"
                }}
              </button>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
          <a
            (click)="changeAddImg()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >{{ user.profileImg ? "Modifica" : "Aggiungi" }}</a
          >
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Nome legale</h6>
          <p class="text-secondary mb-0" *ngIf="!toggleName">
            {{ user.firstName }} {{ user.lastName }}
          </p>
          <div class="d-flex gap-1" *ngIf="toggleName">
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              [(ngModel)]="user.firstName"
            />
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              [(ngModel)]="user.lastName"
            />
            <button
              (click)="updateName()"
              class="btn btn-pink-airbnb btn-sm text-light fw-medium"
              type="button"
              role="button"
            >
              Salva
            </button>
          </div>
        </div>
        <div class="col-2 text-end">
          <a
            (click)="changeName()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >Modifica</a
          >
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Username</h6>
          <p class="text-secondary mb-0" *ngIf="!toggleUsername">
            {{ user.username ? user.username : "Aggiungi un nome breve" }}
          </p>
          <div class="d-flex gap-1" *ngIf="toggleUsername">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              [(ngModel)]="user.username"
              placeholder="{{
                user.username ? user.username : 'Scegli uno username'
              }}"
            />
            <button
              (click)="updateUsername()"
              class="btn btn-pink-airbnb btn-sm text-light fw-medium"
              type="button"
            >
              Salva
            </button>
          </div>
        </div>
        <div class="col-2 text-end">
          <a
            (click)="changeUsername()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >Aggiungi</a
          >
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Indirizzo email</h6>
          <p class="text-secondary mb-0" *ngIf="!toggleEmail">
            {{ user.email }}
          </p>
          <div class="d-flex gap-1" *ngIf="toggleEmail">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              [(ngModel)]="user.email"
            />
            <button
              (click)="updateEmail()"
              class="btn btn-pink-airbnb btn-sm text-light fw-medium"
              type="button"
            >
              Salva
            </button>
          </div>
        </div>
        <div class="col-2 text-end">
          <a
            (click)="changeEmail()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >Modifica</a
          >
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Numeri di telefono</h6>
          <p class="text-secondary mb-0" *ngIf="!togglePhone">
            {{
              user.phone
                ? user.phone
                : "Aggiungi un numero in modo che gli ospiti confermati e Airbnb possano contattarti"
            }}
          </p>
          <div class="d-flex gap-1" *ngIf="togglePhone">
            <input
              type="tel"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              class="form-control"
              name="phone"
              id="phone"
              [(ngModel)]="user.phone"
              placeholder="{{
                user.phone ? user.phone : 'Aggiungi un numero di telefono'
              }}"
            />
            <button
              (click)="updatePhone()"
              class="btn btn-pink-airbnb btn-sm text-light fw-medium"
              type="button"
            >
              Salva
            </button>
          </div>
        </div>
        <div class="col-2 text-end">
          <a
            (click)="changePhone()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >Aggiungi</a
          >
        </div>
      </div>
      <div class="row py-3 border-bottom">
        <div class="col">
          <h6 class="fw-bold mb-1">Ruolo</h6>
          <p class="text-secondary mb-0" *ngIf="!toggleRole">
            {{ user.role | titlecase }}
          </p>
          <div class="d-flex gap-1" *ngIf="toggleRole">
            <label class="me-2">
              <input
                type="radio"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                class=""
                name="role"
                [(ngModel)]="user.role"
                value="host"
              />
              Host
            </label>
            <label class="me-3">
              <input
                type="radio"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                class=""
                name="role"
                [(ngModel)]="user.role"
                value="guest"
              />
              Guest
            </label>
            <button
              (click)="updateRole()"
              class="btn btn-pink-airbnb btn-sm text-light fw-medium"
              type="button"
            >
              Salva
            </button>
          </div>
        </div>
        <div class="col-2 text-end">
          <a
            (click)="changeRole()"
            class="text-decoration-underline text-black fw-medium"
            role="button"
            >Modifica</a
          >
        </div>
      </div>
      <div class="row row-cols-3 py-5">
        <div *ngFor="let review of user.reviews" class="col">
          <app-review-card [review]="review"></app-review-card>
        </div>
      </div>
    </div>

    <div class="col-3 border rounded-3 px-5">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
