<div class="container">
  <h1 class="fw-bold mb-5">I tuoi messaggi</h1>
  <div class="row gap-3" *ngIf="messages">
    <ng-container *ngFor="let message of messages">
      <div class="col-12">
        <app-message-card
          [message]="message"
          (messageDeleted)="updateMsgList($event)"
        >
        </app-message-card>
      </div>
    </ng-container>
  </div>
  <div
    *ngIf="(messages && messages.length < 1) || !messages"
    class="bg-secondary-subtle rounded-2 p-3 text-center my-3"
  >
    Non ci sono messaggi
  </div>
</div>
