<div class="row border-bottom py-3">
  <div class="col">
    <ng-icon name="ionDocumentLockOutline" class="fs-1"></ng-icon>
    <h5 class="fs-6 fw-bold">
      Perché le mie informazioni non vengono mostrate qui?
    </h5>
    <p class="text-secondary fs-7 lh-2 mb-0">
      Nascondiamo alcuni dettagli dell'account per proteggere la tua identità.
    </p>
  </div>
</div>
<div class="row border-bottom py-3">
  <div class="col">
    <ng-icon name="ionLockClosedOutline" class="fs-1"></ng-icon>
    <h5 class="fs-6 fw-bold">Quali informazioni possono essere modificate?</h5>
    <p class="text-secondary fs-7 lh-2 mb-0">
      Puoi modificare le informazioni personali e di contatto. Se queste sono
      state usate per verificare la tua identità, dovrai ripetere la verifica
      per continuare a ospitare o effettuare nuove prenotazioni.
    </p>
  </div>
</div>
<div class="row py-3">
  <div class="col">
    <ng-icon name="ionEyeOutline" class="fs-1"></ng-icon>
    <h5 class="fs-6 fw-bold">
      Quali informazioni sono condivise con altre persone?
    </h5>
    <p class="text-secondary fs-7 lh-2 mb-0">
      Airbnb invia i recapiti agli host e agli ospiti solo dopo che la
      prenotazione è stata confermata.
    </p>
  </div>
</div>
