<div class="card">
  <div class="card-body position-relative">
    <span
      role="button"
      (click)="readMessage()"
      *ngIf="!message.isRead"
      class="badge text-light text-bg-pink-airbnb position-absolute top-0 end-0 me-1 mt-1"
      >Unread</span
    >
    <p class="text-body-tertiary">
      Messaggio da {{ user.firstName }} {{ user.lastName }}
    </p>
    <h3>{{ message.message }}</h3>
    <div *ngIf="message.apartment">
      <h5>Richiesta per:</h5>
      <div class="d-flex align-items-center gap-1">
        <p class="mb-0">
          <a
            class="text-decoration-none text-black"
            [routerLink]="['/apartment', message.apartment.id]"
            >{{ message.apartment.name }}</a
          >
        </p>
        <button
          (click)="changeAvailability()"
          class="btn btn-sm text-light fw-medium"
          [ngClass]="{
            'bg-pink-airbnb': !message.apartment.availability,
            'bg-outline-pink-airbnb': message.apartment.availability
          }"
        >
          {{
            message.apartment.availability
              ? "Conferma prenotazione"
              : "Prenotazione confermata"
          }}
        </button>
      </div>
    </div>
    <div *ngIf="!message.apartment">
      <h5 class="mb-0">Richiesta informazioni generica</h5>
    </div>
  </div>
</div>
