<div class="card" *ngIf="user">
  <div
    class="card-body position-relative d-flex justify-content-between flex-grow-1"
  >
    <div class="flex-grow-1 d-flex flex-column">
      <span
        role="button"
        (click)="readMessage()"
        *ngIf="!message.isRead"
        class="badge text-light text-bg-pink-airbnb position-absolute top-0 end-0 me-1 mt-1 z-3"
        >Unread</span
      >
      <p class="text-body-tertiary mb-1">
        Messaggio da {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-body-tertiary">
        <span>Messaggio del: {{ message.date | date : "dd/MM/yyyy" }}</span>
      </p>
      <h3>{{ message.message }}</h3>
      <div *ngIf="message.apartment">
        <h5>Richiesta di prenotazione per:</h5>
        <div class="d-flex align-items-center gap-3">
          <p class="mb-0">
            <a
              class="text-decoration-none text-black"
              [routerLink]="['/apartment', message.apartment.id]"
              >{{ message.apartment.name }}</a
            >
          </p>
        </div>
      </div>
      <div *ngIf="!message.apartment">
        <h5 class="mb-0">Richiesta informazioni generica</h5>
      </div>

      <button
        class="mt-auto align-self-start btn btn-sm btn-pink-airbnb text-light"
      >
        Cancella messaggio
      </button>
    </div>
    <ng-container *ngIf="message.apartment">
      <app-card [apartment]="message.apartment">
        <button
          *ngIf="message.apartment.availability"
          (click)="changeAvailability()"
          class="btn btn-sm text-light fw-medium bg-pink-airbnb"
        >
          Conferma prenotazione
        </button>
        <span
          class="text-bg-pink-airbnb text-light fw-medium p-1 text-center"
          *ngIf="!message.apartment.availability"
          >Prenotazione confermata</span
        >
      </app-card>
    </ng-container>
  </div>
</div>
