<div class="container">
  <!-- welcome cliente -->
  <h2 class="fw-semibold">Ciao Giuseppe!</h2>
  <br />
  <!-- titolo e button -->
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">I tuoi annunci</h2>
    <button
      (click)="addNewApartment()"
      type="button"
      class="btn btn-outline-dark-an py-1 fw-semibold"
    >
      Inserisci un nuovo annuncio +
    </button>
  </div>
  <!-- sezzione annunci -->
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 px-3 pb-4 my-3 bg-secondary-subtle rounded-2"
  >
    <div *ngFor="let apartment of apartments" class="col">
      <app-card [apartment]="apartment">
        <ng-content>
          <div class="d-flex justify-content-between">
            <button
              (click)="deleteApartment(apartment.id)"
              type="button"
              class="btn btn-outline-pink-airbnb m-2 py-1 rounded-4"
            >
              Elimina
            </button>
            <button
              (click)="editApartment(apartment.id)"
              type="button"
              class="btn btn-pink-airbnb text-white fw-bold m-2 py-1 rounded-4"
            >
              Modifica
            </button>
          </div>
        </ng-content>
      </app-card>
    </div>
  </div>
</div>
