<div class="h-100 card airbnb-card position-relative">
  <div class="badge-popular" *ngIf="isAppreciated">Amato dagli ospiti</div>
  <ng-container *ngIf="user">
    <ng-icon
      name="{{ isFavorite ? 'ionHeart' : 'ionHeartOutline' }}"
      (click)="addRemoveFavourite()"
      (click)="toggleFavorite()"
      class="favorite-icon"
      [ngClass]="{ filled: isFavorite, empty: !isFavorite }"
      role="button"
    ></ng-icon>
  </ng-container>

  <img
    src="{{ apartment.coverImage }}"
    alt="Room image"
    role="button"
    [routerLink]="['/apartment', apartment.id]"
    routerLinkActive="router-link-active"
  />
  <div class="card-body">
    <h5 class="card-title">{{ apartment.name }}</h5>
    <p class="card-text">
      {{ apartment.rooms === 1 ? "1 stanza" : apartment.rooms + " stanze" }} ·
      {{ apartment.squaremeters }}m²
    </p>
    <!-- <p class="card-text">2 guests · 1 bedroom · 1 bed · 1 bath</p> -->
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>{{ apartment.price | currency : "EUR" }} / notte</span>
    <ng-container *ngIf="apartment.ratings"
      ><span *ngIf="rating">★ {{ rating }}</span></ng-container
    >
  </div>
  <ng-content></ng-content>
</div>
