<div class="card airbnb-card position-relative">
  <div class="badge-popular" *ngIf="isAppreciated">Amato dagli ospiti</div>
  <ng-icon
    *ngIf="!isFavorite"
    name="ionHeartOutline"
    (click)="addToFavourite()"
    (click)="toggleFavorite()"
    class="favorite-icon empty"
    role="button"
  ></ng-icon>
  <ng-icon
    *ngIf="isFavorite"
    name="ionHeart"
    (click)="toggleFavorite()"
    (click)="removeFromFavourite()"
    class="favorite-icon filled"
    role="button"
  ></ng-icon>
  <img src="https://picsum.photos/300/200" alt="Room image" />
  <div class="card-body">
    <h5 class="card-title">{{ apartment.name }}</h5>
    <p class="card-text">
      {{ apartment.rooms === 1 ? "1 stanza" : apartment.rooms + " stanze" }} ·
      {{ apartment.squaremeters }}m²
    </p>
    <!-- <p class="card-text">2 guests · 1 bedroom · 1 bed · 1 bath</p> -->
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>{{ apartment.price | currency : "EUR" }} / notte</span>
    <span *ngIf="rating">★ {{ rating }}</span>
  </div>
</div>
