<div class="card airbnb-card position-relative">
  <div class="badge-popular">Amato dagli ospiti</div>
  <ng-icon
    [name]="isFavorite ? 'ionHeart' : 'ionHeartOutline'"
    (click)="toggleFavorite()"
    [class.filled]="isFavorite"
    [class.empty]="!isFavorite"
    class="favorite-icon"
  ></ng-icon>
  <img src="https://picsum.photos/300/200" alt="Room image" />
  <div class="card-body">
    <h5 class="card-title">{{ apartment.name }}</h5>
    <p class="card-text">
      {{ apartment.rooms === 1 ? "1 stanza" : apartment.rooms + " stanze" }} ·
      {{ apartment.squaremeters }}m²
    </p>
    <!-- <p class="card-text">2 guests · 1 bedroom · 1 bed · 1 bath</p> -->
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>{{ apartment.price | currency : "EUR" }} / notte</span>
    <span>★ 4.8</span>
  </div>
</div>
