<div>
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr">
    <div class="border rounded-3">
      <!-- card profile -->
      <div class="position-sticky top-0 shadow-lg">
        <!-- img profile -->
        <div></div>
        <!-- container -->
        <div></div>
      </div>
    </div>
    <div class="border rounded-3">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
