<div class="container">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr">
    <!-- side 1 -->
    <div
      class="border position-sticky top-0 d-flex align-items-center flex-column py-4"
    >
      <!-- card profile -->
      <div
        class="card-host-pos card-host shadow-lg d-flex rounded-4 overflow-hidden py-3 my-2"
      >
        <!-- img profile -->
        <div
          class="d-flex flex-column flex-grow-1 align-items-center justify-content-center"
        >
          <img
            src="https://a0.muscache.com/im/pictures/user/User-571409085/original/5bc91e5a-8b14-4709-96db-74a60dc97da1.jpeg?im_w=240"
            alt="avatar profile"
            width="110"
            class="rounded-pill"
          />
          <h2 class="fw-bolder mb-0 mt-2">Kevin Hart</h2>
          <p class="fw-bolder">Host</p>
        </div>
        <!-- container -->
        <ul
          class="list-group list-group-flush d-flex flex-column justify-content-between"
        >
          <li class="list-group-item ps-0 py-1">
            <h4 class="mb-0 fw-bold">30</h4>
            <p class="fs-7 fw-semibold m-0">Recensioni</p>
          </li>
          <li class="list-group-item ps-0 py-1">
            <h4 class="mb-0 fw-bold">4.97</h4>
            <p class="fs-7 fw-semibold m-0">Valutazione</p>
          </li>
          <li class="list-group-item ps-0 py-1">
            <h4 class="mb-0 fw-bold">6</h4>
            <p class="fs-7 fw-semibold m-0">
              Mesi di esperienza <br />
              come host
            </p>
          </li>
        </ul>
      </div>
      <!-- card info profile -->
      <div
        class="card-host posStickyCardInfo border rounded-4 overflow-hidden p-4 mt-4"
      >
        <h4 class="fw-bolder">Informazioni confermate di Kevin Hart</h4>
        <ul class="lista p-0 mt-3">
          <li>
            <p class="fs-5 mb-2"><span class="me-3">✓</span>Identita</p>
          </li>
          <li>
            <p class="fs-5 mb-2"><span class="me-3">✓</span>Indirizzo email</p>
          </li>
          <li>
            <p class="fs-5 mb-2">
              <span class="me-3">✓</span>Numero di telefono
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- side 2 -->
    <div class="border rounded-3 p-4">
      <!-- titolo review -->
      <div class="d-flex justify-content-between">
        <h2 class="fw-bolder">Recensioni di Kevin Hart</h2>
        <div>
          <button
            type="button"
            class="btn border rounded-pill mx-1 py-2 fs-7 hoverScale"
          >
            ←
          </button>
          <button
            type="button"
            class="btn border rounded-pill mx-1 py-2 fs-7 hoverScale"
          >
            →
          </button>
        </div>
      </div>
      <!-- sezione review -->
      <div class="d-flex justify-content-around mt-3 pb-5 gap-3 border-bottom">
        <!-- card review -->
        <div
          class="card-host border rounded-4 w-100 p-4 d-flex flex-column justify-content-between"
        >
          <p class="px-3 pt-2">
            «.„Questa esperienza é stata fantastical Era la prima volta che
            facevo una cosa del genere con Air BnB e non sapevo cosa aspettarmi,
            ma é stata
          </p>
          <div class="d-flex align-items-center">
            <img
              src="https://a0.muscache.com/im/pictures/user/User-571409085/original/5bc91e5a-8b14-4709-96db-74a60dc97da1.jpeg?im_w=240"
              alt="avatar profilo"
              height="50"
              class="rounded-pill"
            />
            <div class="ms-3">
              <h6 class="m-0 fw-bold">Xavier</h6>
              <p class="m-0">settembre 2024</p>
            </div>
          </div>
        </div>
        <!-- card 2 -->
        <div
          class="card-host border rounded-4 w-100 p-4 d-flex flex-column justify-content-between"
        >
          <p class="px-3 pt-2">
            «.„Questa esperienza é stata fantastical Era la prima volta che
            facevo una cosa del genere con Air BnB e non sapevo cosa aspettarmi,
            ma é stata
          </p>
          <div class="d-flex align-items-center">
            <img
              src="https://a0.muscache.com/im/pictures/user/User-571409085/original/5bc91e5a-8b14-4709-96db-74a60dc97da1.jpeg?im_w=240"
              alt="avatar profilo"
              height="50"
              class="rounded-pill"
            />
            <div class="ms-3">
              <h6 class="m-0 fw-bold">Xavier</h6>
              <p class="m-0">settembre 2024</p>
            </div>
          </div>
        </div>
      </div>
      <!-- sezione annucci del utente -->

      <h2 class="fw-bolder mt-5">Annunci di Kevin Hart</h2>

      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>
