@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$pink-airbnb: #ff385c;

$new-theme-colors: (
  "pink-airbnb": $pink-airbnb,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

$widths: (
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
);

@each $label, $value in $widths {
  .w-fixed-#{$label} {
    width: #{$value};
  }
}

$heights: (
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
);

@each $label, $value in $heights {
  .h-fixed-#{$label} {
    height: #{$value};
  }
}

@import "bootstrap/scss/bootstrap";

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.7rem;
}

.fs-9 {
  font-size: 0.6rem;
}

.fs-10 {
  font-size: 0.5rem;
}

body,
*,
input,
textarea,
button {
  font-family: "Nunito Sans", sans-serif;
}

.padding-sm {
  padding-inline: 1.5rem;
}

.padding-lg {
  padding-inline: 2.5rem;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  padding-block: 2rem;
}

.modal-content {
  background: #ffffff32;
  border: 2px solid #fff;
  backdrop-filter: blur(30px);
  color: white;
  text-shadow: 2px 2px 5px #00000055;
  height: 100%;
  .modal-body {
    vertical-align: middle;

    p {
      margin: 0;
    }
  }
}
