<!-- sezione review -->
<div class="d-flex justify-content-around mt-3 pb-5 gap-3 border-bottom">
  <!-- card review -->
  <div
    class="card-host border rounded-4 w-100 p-4 d-flex flex-column justify-content-between"
  >
    <p class="px-3 pt-2">
      «.„Questa esperienza é stata fantastical Era la prima volta che facevo una
      cosa del genere con Air BnB e non sapevo cosa aspettarmi, ma é stata
    </p>
    <div class="d-flex align-items-center">
      <img
        src="https://a0.muscache.com/im/pictures/user/User-571409085/original/5bc91e5a-8b14-4709-96db-74a60dc97da1.jpeg?im_w=240"
        alt="avatar profilo"
        height="50"
        class="rounded-pill"
      />
      <div class="ms-3">
        <h6 class="m-0 fw-bold">Xavier</h6>
        <p class="m-0">settembre 2024</p>
      </div>
    </div>
  </div>
</div>
